page-home {
  font-family: 'Avenir-Heavy';
  background-color: #FFF;
  height: 100vh;
}

.login h1 {
  font-size: 9vw;
  color: #FFF;
}

.login {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
//
// .skip {
//   display: flex;
//   justify-content: flex-end;
//   font-size: 1.7em;
//
// }
//
// .skip a {
//   text-decoration: none;
//   font-family: 'Avenir';
// }

.login-header {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.login-header h2 {
  color: #00487C;
  font-size: 8vw;
  font-weight: bold;
}


.login-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-info .item-ios {
  padding-left: 3px;
  position: relative;
  border-radius: 0;
  min-height: 7vh;
  font-size: 4vw;
  width: 75%;
  color: #000;
  background-color: #FFF;
  transition: background-color 200ms linear;
}

.login-info .item-md {
  padding-left: 3px;
  position: relative;
  border-radius: 0;
  min-height: 7vh;
  width: 75%;
  font-size: 4vw;
  color: #000;
  background-color: #FFF;
  transition: background-color 200ms linear;
}

.login-info .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
    margin-top: 3vh;
}

.login-info .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
    margin-top: 3vh;
}

.login-info .text-input-ios {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 11px;
    margin-bottom: 11px;
    padding: 0;
    width: calc(100% - 8px);
}

.login-info .text-input-md {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 11px;
    margin-bottom: 11px;
    padding: 0;
    width: calc(100% - 8px);
}

.social-media-login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-media-login p {
  margin: 0;
  font-size: 5vw;
  font-family: 'Avenir';
}

.login-info ion-input {
  border: 2px solid #004B80;
  margin-bottom: 1vh;
}

// .input-box-pw {
//   border: 2px solid #004B80;
// }

.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
}

.facebook-button {
  background-color: #5069AD;
  color: #FFF;
  border-radius: 22px;
  font-size: 5vw;
  width: 50vw;
  height: 5vh;
  margin-bottom: 1.3em;
  margin-top: 10px;
}

.facebook-button img {
  height: 95%;
  margin-right: 2vw;
}

.google-button {
  background-color: #F64949;
  color: #FFF;
  border-radius: 22px;
  width: 50vw;
  font-size: 5vw;
  height: 5vh;
  margin-bottom: 4vh;
}

.google-button img {
  height: 95%;
  margin-right: 2vw;
}

.login-button button {
  background-color: #C2C2C2;
  margin-top: 5vh;
  // margin-bottom: 1em;
}
