page-home {
  font-family: 'Avenir-Heavy';
  background-color: #FFF;
  // height: 100vh;
}

// Subscribe page CSS

.subscribe-arrow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.subscribe-arrow h1 {
  font-size: 10vw;
  color: #FFF;
}

.subscribe-header {
  display: flex;
  flex-direction: row;
  color: #FFF;
  justify-content: flex-start;
}

.subscribe-img {
    display: flex;
    justify-content: center;
}

.arrow-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
}

.subscribe-drinks {
  display: flex;
  font-family: 'Avenir';
  justify-content: center;
  margin: 0px 10px 0 10px;
  text-align: center;
  color: #004A80;
}

.subscribe-drinks h1 {
  font-size: 8vw;
  margin-top: 5px;
}

.subscribe-countless {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.subscribe-countless p {
  color: #00B0CA;
  font-size: 7vw;
  margin-top: 0;
  margin-bottom: 0;
}


.subscribe-or p {
		width: 100%;
		text-align: center;
		border-top: 1px solid #E9E9E9;
		height: 2vh;
		line-height: 0.1em;
    font-size: 6vw;
    color: #004A80;
    margin-bottom: 5px;
    margin-top: 10px;

		span {
			background-color: white;
      font-family: 'Avenir';
      font-weight: 500;
			padding: 0 10px;
		}
	}

  .subscribe-share {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #00B0CA;
}

.subscribe-share p {
  font-family: 'Avenir';
  font-size: 6vw;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2vh;
}

.share-button button {
  width: 100%;
  height: 2.3em;
  font-size: 6vw;
  font-family: 'Avenir';
  background-color: #9B9B9B;
}

.subscribe-button button {
  width: 100%;
  height: 2.3em;
  font-size: 6vw;
  font-family: 'Avenir';
  background-color: #6FD100;
}

// Payment type CSS

.payment-types {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 40%;
}

.previous-next {
  display: flex;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: row;
  justify-content: space-between;
}

.payment-previous-arrow {
  display: flex;
  background-color: #00B0CA;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  color: #FFF;
  align-content: center;
  justify-content: flex-start;
}

.payment-next-arrow {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

// Select a Plan CSS

.ways-to-save {

}

// Verification CSS
.verification-header {
  display: flex;
  justify-content: center;
  color: #FFF;
}

.verification-header h1 {
  font-size: 8.5vw;
}

.verification-loader {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.verify-bold-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.verify-bold-text h1 {
  color: #004A80;
  font-size: 8vw;
}

.verify-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.verify-text p {
  color: #00B0CA;
  font-family: 'Avenir';
  font-size: 5vw;
  font-weight: 500;
}
