page-home {
  font-family: 'Avenir-Heavy';
  background-color: #FFF;
  height: 100vh;
}
// Subscribe page CSS

.subscribe-container {
  padding-left: 5vw;
  padding-right: 5vw;
}

.subscribe-arrow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.subscribe-arrow h1 {
  font-size: 8vw;
  color: #FFF;
}

.subscribe-header {
  display: flex;
  flex-direction: row;
  color: #FFF;
  justify-content: flex-start;
}

.subscribe-img {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.subscribe-drinks {
  display: flex;
  font-family: 'Avenir';
  justify-content: center;
  margin-top: 5vh;
  text-align: center;
  color: #004A80;
}

.subscribe-drinks h1 {
  font-size: 8vw;
  margin-top: 5px;
}

.subscribe-countless {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.subscribe-countless p {
  color: #00B0CA;
  font-size: 6vw;
  margin-top: 0;
  margin-bottom: 0;
}

.subscribe-or p {
  width: 100%;
  text-align: center;
  border-top: 1px solid #E9E9E9;
  height: 2vh;
  line-height: 0.1em;
  font-size: 6vw;
  color: #004A80;
  margin-bottom: 5px;
  margin-top: 10px;

  span {
    background-color: white;
    font-family: 'Avenir';
    font-weight: 500;
    padding: 0 10px;
  }
}

.subscribe-share {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #00B0CA;
}

.subscribe-share p {
  font-family: 'Avenir';
  font-size: 6vw;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2vh;
}


.subscribe-button {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}
// Payment type CSS

.payment-type-header {
  height: 4vh;
  width: 100%;
  color: #FFF;
}

.payment-type-header h2 {
  font-size: 5vw;
}

.payment-type-header .toolbar-ios {
  max-height: 2vh;
  padding-top: 3vh;
  padding-bottom: 4vh;
}

.payment-types {
  display: block;
  margin-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.payment-types .item-ios {
  min-height: 5vh;
  font-size: 5vw;
}

.payment-types .item-md {
  min-height: 5vh;
  font-size: 5vw;
}

// .payment-types .item-ios .radio-ios {
//   border: 2px solid #919191;
//   border-radius: 50%;
//   height: 15px;
//   width: 15px;
// }

// .payment-types .item-md .radio-md {
//   border: 2px solid #919191;
//   border-radius: 50%;
//   height: 15px;
//   width: 15px;
// }

.terms-conditions ion-item {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 10vh;
  padding-left: 6vw;
  padding-right: 6vw;
}


.terms-conditions .item-ios.item-block .item-inner {
    padding-right: 4vw;
    border-bottom: none;
    font-size: 4vw;

}
.terms-conditions .item-md.item-block .item-inner {
    padding-right: 4vw;
    border-bottom: none;

}

// .terms-conditions .item-ios .radio-ios {
//   border: 2px solid #919191;
//   border-radius: 50%;
//   height: 15px;
//   width: 15px;
// }
//
// .terms-conditions .item-md .radio-md {
//   border: 2px solid #919191;
//   border-radius: 50%;
//   height: 15px;
//   width: 15px;
// }

// Select a Plan CSS

.plans {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 3vh;
}

.plans .item-ios {
  min-height: 5vh;
  font-size: 5vw;
}

.plans .item-md {
  min-height: 5vh;
  font-size: 5vw;
}

// .plans .item-ios .radio-ios {
//   border: 2px solid #919191;
//   border-radius: 50%;
//   height: 15px;
//   width: 15px;
// }
//
// .plans .item-md .radio-md {
//   border: 2px solid #919191;
//   border-radius: 50%;
//   height: 15px;
//   width: 15px;
// }

// Verification CSS
.verification-header {
  display: flex;
  justify-content: center;
  color: #FFF;
}

.verification-header h1 {
  font-size: 8.5vw;
}

.verification-loader {
  display: flex;
  justify-content: center;
  margin-top: 18vh;
}

.verify-bold-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.verify-bold-text h1 {
  color: #004A80;
  font-size: 8vw;
}

.verify-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.verify-text p {
  color: #00B0CA;
  font-family: 'Avenir';
  font-size: 5vw;
  font-weight: 500;
}
