// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.active-circle {
    display: inline-block;
    text-align: center;
    float: right;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    max-width: 50px;
    max-height: 50px;
    background-color: orange;
    font-family: 'Avenir-Heavy';
    font-size: 6.5px;
    color: #FFFFFF;
}

.redeemed-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  max-width: 50px;
  max-height: 50px;
  background-color: gray;
  font-family: 'Avenir-Heavy';
  font-size: 6.5px;
  color: #FFFFFF;
}

.days-left-number {
  font-size: 3em;
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
  color: #000;
}

.toolbar-ios {
    padding: 11px;
    margin-bottom: 15px;
}

.list-ios {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 32px;
}

.list-ios > .item-block:first-child {
    border-top: none;
}

.item-ios p {
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #8e9093;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2px;
}

.bar-distance {
  font-size: .7em;
  font-style: italic;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
  background-color: #0083A9;
  color: white;
  font-size: 1.5em;
  border: none;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=false] {
  background-color: #00ABC6;
  color: white;
  font-size: 1.5em;
  border: none;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #FFF;
}

.tabs-ios .tab-button-icon {
    margin-top: 4px;
    margin-bottom: 1px;
    min-width: 35px;
    height: 30px;
    font-size: 30px;
    color: #FFF;
}

.segment-ios .segment-button {
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    margin-left: 0px;
    border-left-width: 0;
    background-color: #004C80;
}

.item-ios ion-icon[item-left], .item-ios ion-icon[item-right], .item-ios ion-icon[item-start], .item-ios ion-icon[item-end] {
    margin-left: 0;
    color: #80D624;
}

.item > ion-icon, .item-inner > ion-icon {
  display: inline-block;
    min-height: 2.8rem;
    font-size: 3.5rem;
    line-height: 1;
    position: relative;
    float: right;
}

ion-label {
    margin: 0;
    display: block;
    overflow: hidden;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: normal;
}

.item-ios h2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 2.2rem;
    font-weight: normal;
}

.tab-item-active{
  background:green;
}
