// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  color: #48494A;
  font-family: 'Avenir-Heavy';
}


.item-ios p {
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #8e9093;
  margin: 0 0 2px;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
  background-color: #0083A9;
  color: white;
  font-size: 1.5em;
  border: none;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=false] {
  background-color: #00ABC6;
  color: white;
  font-size: 1.5em;
  border: none;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #FFF;
}

.tabs-ios .tab-button-icon {
  margin-top: 4px;
  margin-bottom: 1px;
  min-width: 35px;
  height: 30px;
  font-size: 30px;
  color: #FFF;
}

.segment-ios .segment-button {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  margin-left: 0;
  border-left-width: 0;
  background-color: #004C80;
}

// .item-ios ion-icon[item-end],
// .item-ios ion-icon[item-left],
// .item-ios ion-icon[item-right],
// .item-ios ion-icon[item-start] {
//   margin-left: 0;
//   color: #80D624;
// }

.item-ios ion-avatar[item-left],
.item-ios ion-avatar[item-start],
.item-ios ion-thumbnail[item-left],
.item-ios ion-thumbnail[item-start] {
  margin: 8px 0 0;
}

.item-ios ion-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 75px;
  min-height: 75px;
  width: 75px;
  height: 75px;
}

.item-ios ion-thumbnail img,
.item-ios ion-thumbnail ion-img {
  width: 75px;
  height: 75px;
  margin-left: 0;
}

.item-ios {
  padding-left: 3px;
  position: relative;
  border-radius: 0;
  min-height: 100px;
  font-size: 1.7rem;
  color: #000;
  background-color: #fff;
  transition: background-color 200ms linear;
}

.item > ion-icon,
.item-inner > ion-icon {
  display: inline-block;
  min-height: 2.8rem;
  font-size: 3.5rem;
  line-height: 1;
  position: relative;
  float: right;
}

ion-label {
  margin: 0;
  display: block;
  overflow: hidden;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: normal;
}

.item-ios h2 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: normal;
}

.tab-item-active {
  background: green;
}
