// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  color: #48494A;
  font-family: 'Avenir-Heavy';
}

.logo {
  display: inline-block;
  float: left;
}

.arrow-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border-width: 0;
}

.header-md .toolbar-md:last-child .toolbar-background-md {
  border-width: 0;
}

// Map and List page shared styles

.active-circle {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  float: right;
  border-radius: 50%;
  height: 7vh;
  width: 12.5vw;
  max-height: 50px;
  max-width: 50px;
  padding-top: .5vh;
  background-color: orange;
  font-family: 'Avenir';
  font-size: 0;
  color: #FFFFFF;
}

.active-circle span {
  display: block;
}

.redeemed-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  border-radius: 50%;
  height: 7vh;
  width: 12.5vw;
  max-height: 50px;
  max-width: 50px;
  padding-top: .5vh;
  background-color: #9B9B9B;
  font-family: 'Avenir';
  font-size: 2.4vw;
  color: #FFFFFF;
}

.bar-distance {
  font-size: 3vw;
  font-style: italic;
  margin-bottom: 3px;
}

.days-left-number {
  font-size: 5vw;
  margin-bottom: 0;
}

.days-left-text {
  font-size: 2vw;
}

.bold {
  font-weight: bold;
  color: #48494A;
}

.toolbar-ios {
  padding: 11px;
  margin-bottom: 0 !important;
  min-height: 0 !important;
  height: 11vh !important;
}

.redeemed {
  color: #9B9B9B;
}

// .toolbar-ios {
//   padding: 11px;
//   margin-bottom: 15px;
//   min-height: 44px;
//   height: 5em;
// }

.toolbar-md {
  padding: 11px;
  margin-bottom: 0 !important;
  min-height: 0 !important;
  height: 11vh !important;
}

.item-ios p {
  overflow: inherit;
  font-size: 3.5vw;
  line-height: normal;
  text-overflow: inherit;
  color: #8e9093;
  margin: 0 0 2px;
}

.item-md p {
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #8e9093;
  margin: 0 0 2px;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
  background-color: #0083A9;
  color: white;
  font-size: 1.3em;
  border: none;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=false] {
  background-color: #00ABC6;
  color: white;
  font-size: 1.3em;
  border: none;
}

.tabs-md .tab-button:hover:not(.disable-hover),
.tabs-md .tab-button[aria-selected=true] {
  background-color: #0083A9;
  color: white;
  font-size: 1.5em;
  border: none;
}

.tabs-md .tab-button:hover:not(.disable-hover),
.tabs-md .tab-button[aria-selected=false] {
  background-color: #00ABC6;
  color: white;
  font-size: 1.5em;
  border: none;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #FFF;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #FFF;
}

.tabs-ios .tab-button-icon {
  margin-top: 4px;
  margin-bottom: 1px;
  min-width: 35px;
  height: 4vh;
  font-size: 6.5vw;
  color: #FFF;
}

.tabs-ios .tab-button {
  max-width: 100vw;
  height: 9vh;
  font-size: 7vw;
  color: #8C8C8C;
  padding: 0.5vh 2px;
}

.tabs-md .tab-button-icon {
  margin-top: 4px;
  margin-bottom: 1px;
  min-width: 35px;
  height: 4vh;
  font-size: 6.5vw;
  color: #FFF;
}

.segment-ios .segment-button {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  margin-left: 0;
  border-left-width: 1px;
  background-color: #004C80;
  width: 20vw;
}

.segment-md {
  width: 75%;
  margin-left: 0;
  margin-right: 2em;
}

.segment-md .segment-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  border-left-width: 0;
  padding-bottom: 10px !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar .segment-md {
  margin: 0 auto;
}

.toolbar-ios .segment-button {
  max-width: 32vw;
  height: 5vh;
  font-size: 4vw;
  line-height: 4vh;
  padding-top: 0.7vh;
  padding-bottom: 4.7vh;
}

.toolbar-md .segment-button {
  max-width: 32vw;
  height: 5vh;
  font-size: 4vw;
  line-height: 4vh;
  padding-top: 0.7vh;
  padding-bottom: 4.7vh;
}

.item-ios ion-icon[item-end],
.item-ios ion-icon[item-left],
.item-ios ion-icon[item-right],
.item-ios ion-icon[item-start] {
  margin-left: 0;
  color: #80D624;
}

.item-md ion-icon[item-end],
.item-md ion-icon[item-left],
.item-md ion-icon[item-right],
.item-md ion-icon[item-start] {
  margin-left: 0;
  color: #80D624;
}

.item-ios ion-avatar[item-left],
.item-ios ion-avatar[item-start],
.item-ios ion-thumbnail[item-left],
.item-ios ion-thumbnail[item-start] {
  margin: 8px 0 0;
}

.item-md ion-avatar[item-left],
.item-md ion-avatar[item-start],
.item-md ion-thumbnail[item-left],
.item-md ion-thumbnail[item-start] {
  margin: 8px 0 0;
}

.item-ios ion-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 75px;
  min-height: 75px;
}

.item-md ion-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 75px;
  max-height: 75px;
}

.button-ios {
    border-radius: 6px;
    height: 8vh;
    width: 75vw;
    font-size: 6vw;
    color: #fff;
    font-family: 'Avenir';
    background-color: #7ED525;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.button-md {
    border-radius: 6px;
    height: 2.5em;
    width: 75vw;
    font-size: 6vw;
    color: #fff;
    background-color: #7ED525;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Avenir';
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.button-ios.activated {
  background-color: #7FD524;
}

.button-md.activated {
  background-color: #7FD524;
}


.item-ios {
  padding-left: 3px;
  position: relative;
  border-radius: 0;
  min-height: 100px;
  font-size: 1.7rem;
  color: #000;
  background-color: #fff;
  transition: background-color 200ms linear;
}

.item-md {
  padding-left: 3px;
  position: relative;
  border-radius: 0;
  min-height: 100px;
  font-size: 1.7rem;
  color: #000;
  background-color: #fff;
  transition: background-color 200ms linear;
}

.item > ion-icon,
.item-inner > ion-icon {
  display: inline-block;
  min-height: 2.8rem;
  font-size: 3.5rem;
  line-height: 1;
  position: relative;
  float: right;
}

ion-label {
  margin: 0;
  display: block;
  overflow: hidden;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: normal;
}

.item-ios {
  height: 21%;
}

.item-md {
  height: 21%;
}

.tab-item-active {
  background: green;
}

@media screen and (min-width: 320px) {
  .item-ios h2 {
    margin: 0;
    font-size: 5vw;
    font-weight: normal;
    width: 55vw;
    white-space: normal;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  .item-md h2 {
    margin: 0;
    font-size: 6vw;
    font-weight: normal;
    width: 55vw;
    white-space: normal;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  .bar-distance {
    font-size: 4vw;
    font-style: italic;
    margin-bottom: 3px;
  }
}

@media screen and (min-width: 374px) {
  .item-ios h2 {
    margin: 0;
    font-size: 5vw;
    font-weight: normal;
    width: 55vw;
    white-space: normal;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  .item-md h2 {
    margin: 0;
    font-size: 5vw;
    font-weight: normal;
    width: 55vw;
    white-space: normal;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
}

@media screen and (min-width: 480px) {
  .item-ios h2 {
    margin: 0;
    font-size: 6vw;
    font-weight: normal;
    width: 58vw;
    white-space: normal;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  .item-md h2 {
    margin: 0;
    font-size: 6vw;
    font-weight: normal;
    width: 58vw;
    white-space: normal;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
}
