page-home {}


.search-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.search-buttons button {
  height: 5vh;
  width: 40vw;
}

.save-button {
  margin-right: 2vw;
}

.filter-tags {
  width: 100%;
}

.column-1 {
  width: 50%;
}

.column-2 {
  width: 50%;
}
