page-home {}

.searchbar {
  top: 0;
  width: 95%;
  z-index: 1000;
  position: fixed;
  margin-bottom: 4vh;
}

.search-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.search-buttons button {
  height: 5vh;
  width: 40vw;
}

.save-button {
  margin-right: 2vw;
}

.filter-tags {
  width: 100%;
  margin-top: 15vh;
}

.column-1 {
  width: 50%;
}

.column-2 {
  width: 50%;
}

.filter-tags .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
}
