.header {
  display: flex;
  justify-content: space-around;

}

.map-list {
  display: flex;
  justify-content: center;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  background-color: orange;
  color: white;
}
