page-home {}

.back {
  margin-left: 2vw;
  font-family: 'Avenir';
}

.back h1 {
  margin-top: 1.5vh;
}

.barpage-arrow {
  display: flex;
  justify-content: flex-start;
  color: #FFF;
}

.bar-thumbnail img {
  display: flex;
  max-height: 90px;
  width: 21vw;
}

.bar-info {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-right: 5vw;
}

.bar-title {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 1em 1em 0.5em;
}

.bar-title h2 {
  color: #48494A;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5.5vw;
}

.bar-title p {
  margin-top: 0;
  margin-bottom: 1vh;
  color: gray;
}

.bar-deal {
  color: #FFA300;
  font-weight: 600;
  font-size: 3.5vw;
}

.slides {
  height: 15em;
  margin-bottom: 20px;
}

.bar-description {
  display: flex;
}

.description {
  display: flex;
  justify-content: center;
  width: 60vw;
  text-align: left;
  color: #48494A;
}

.description p {
  font-size: 3.5vw;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  text-align: center;
  font-weight: bold;
  color: #48494A;
}

.address p {
  margin-bottom: 2px;
  font-size: 3.5vw;
}

.address .button-ios {
  border-radius: 4px;
  height: 3vh;
  width: 32vw;
  font-size: 3vw;
  color: #fff;
  background-color: #00ABC6;
  margin: 0.4rem 0.2rem 0.4rem 0;
  padding: 0 1em;
}

.address .button-md {
  border-radius: 4px;
  height: 2vh;
  width: 30vw;
  font-size: 3vw;
  color: #fff;
  background-color: #00ABC6;
  margin: 0.4rem 0.2rem 0.4rem 0;
  padding: 0 1em;
}

.redeemed-directions .button-ios {
  background-color: #7ED525;
}

.redeemed-directions .button-md {
  background-color: #7ED525;
}

.redeem-button {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
// .redeem-button .button-ios {
//     border-radius: 6px;
//     height: 2.5em;
//     width: 95vw;
//     font-size: 2em;
//     color: #fff;
//     background-color: #7ED525;
//     margin-left: 0;
//     margin-right: 0;
//     margin-top: 0.4rem;
//     margin-bottom: 0.4rem;
//     padding-left: 0;
//     padding-right: 0;
//     padding-top: 0;
//     padding-bottom: 0;
// }
//
// .redeem-button .button-md {
//     border-radius: 6px;
//     height: 2.5em;
//     width: 95vw;
//     font-size: 2em;
//     color: #fff;
//     background-color: #7ED525;
//     margin-left: 0;
//     margin-right: 0;
//     margin-top: 0.4rem;
//     margin-bottom: 0.4rem;
//     padding-left: 0;
//     padding-right: 0;
//     padding-top: 0;
//     padding-bottom: 0;
// }

.redeemed-button .button-ios {
  border-radius: 6px;
  height: 8vh;
  width: 75vw;
  font-size: 6vw;
  color: #fff;
  background-color: #9B9B9B;
  margin: 0.4rem 0;
  padding: 0;
}

.redeemed-button .button-md {
  border-radius: 6px;
  height: 8vh;
  width: 75vw;
  font-size: 6vw;
  color: #fff;
  background-color: #7ED525;
  margin: 0.4rem 0;
  padding: 0;
}

.tags {
  display: flex;
  margin-bottom: 5vh;
}

.tags-text {
  font-style: italic;
  color: #00ABC6;
}
