page-home {

}

.back {
  display: flex;
  color: #FFF;
}

.back ion-icon {
    display: inline-block;
    font-family: "Ionicons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
}

.bar-thumbnail img {
  display: flex;
  max-height: 90px;
  width: 21vw;
}

.bar-info {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.bar-title {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 1em 1em .5em;
}

.bar-title h2 {
  color: #48494A;
  margin-top: 0;
  margin-bottom: 0;
}

.bar-title p {
  margin-top: 0;
  margin-bottom: 5px;
  color: gray;
}

.bar-deal {
  color: orange;
  font-weight: 600;
}

.days-left-circle {
    display: inline-block;
    text-align: center;
    float: right;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    max-width: 42px;
    max-height: 42px;
    background-color: orange;
    font-family: 'Avenir-Heavy';
    font-size: 6.5px;
    color: #FFFFFF;
}

.slides {
  height: 15em;
  margin-bottom: 20px;
}

.bar-description {
  display: flex;
}

.description {
  display: flex;
  justify-content: center;
  width: 60vw;
  text-align: left;
  color: #48494A;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  text-align: center;
  font-weight: bold;
  color: #48494A;
}

.address p {
  margin-bottom: 2px;
}

.button-ios {
    border-radius: 4px;
    height: 1.8em;
    width: 9em;
    font-size: 1.4rem;
    color: #fff;
    background-color: #00ABC6;
    margin-left: 0;
    margin-right: 0.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

.button-md {
    border-radius: 4px;
    height: 1.8em;
    width: 9.5em;
    font-size: 1.2rem;
    color: #fff;
    background-color: #00ABC6;
    margin-left: 0;
    margin-right: 0.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

.redeemed-directions .button-ios {
  background-color: #7ED525;
}

.redeemed-directions .button-md {
  background-color: #7ED525;
}

.redeem-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.redeem-button .button-ios {
    border-radius: 6px;
    height: 2.5em;
    width: 95vw;
    font-size: 2em;
    color: #fff;
    background-color: #7ED525;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.redeem-button .button-md {
    border-radius: 6px;
    height: 2.5em;
    width: 95vw;
    font-size: 2em;
    color: #fff;
    background-color: #7ED525;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.redeemed-button .button-ios {
    border-radius: 6px;
    height: 2.5em;
    width: 95vw;
    font-size: 2em;
    color: #fff;
    background-color: #9B9B9B;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.redeemed-button .button-md {
    border-radius: 6px;
    height: 2.5em;
    width: 95vw;
    font-size: 2em;
    color: #fff;
    background-color: #7ED525;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.tags-text {
  font-style: italic;
  color: #00ABC6;
}
