page-home {
  font-family: 'Avenir-Heavy';
  background-color: #FFF;
  height: 100vh;
}

.confirmed {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.confirmed h1 {
  font-size: 2.5em;
  color: #FFF;
}

.checkmark {
  display: flex;
  justify-content: center;
  color: #267C00;
  font-size: 6em;
  margin-top: 40%;
  margin-bottom: 0;
}

.thank-you {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thank-you h2 {
  color: #00487C;
  font-size: 2.5em;
  margin-top: 0;
}

.thank-you p {
  display: flex;
  color: #00B0CA;
  margin: 0;
  justify-content: center;
  font-size: 1.6em;
  // margin-left: 0.7em;
}

.continue {
  background-color: #7FD524;
  font-size: 2em;
  width: 95%;
  height: 2em;
  margin-top: 3em;
  margin-bottom: 1em;
}
