page-home {
  font-family: 'Avenir-Heavy';
  background-color: #FFF;
  height: 100vh;
}

.confirmed {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.confirmed h1 {
  font-size: 9vw;
  color: #FFF;
}

.checkmark {
  display: flex;
  justify-content: center;
  margin-top: 40%;
  margin-bottom: 0;
}

.thank-you {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.thank-you h2 {
  color: #00487C;
  font-size: 9vw;
  margin-top: 0;
}

.thank-you p {
  display: flex;
  color: #00B0CA;
  margin-top: 0;
  margin-bottom: 18vh;
  justify-content: center;
  font-size: 5.7vw;
  // margin-left: 0.7em;
}
