page-home {
  font-family: 'Avenir-Heavy';
  background-color: #FFF;
  height: 100vh;
}

.location-container {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}

.location-icon {
  display: flex;
  justify-content: center;
  margin-top: 11vh;
  margin-bottom: 8vh;
}

.location-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.location-header h1{
  font-size: 2.3em;
  color: #FFF;
}

.enable-location {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 4vw;
  padding-right: 4vw;
}

.enable-location h2 {
  color: #00487C;
  font-size: 7vw;
  margin-top: 0;
}

.enable-location p{
  display: flex;
  color: #00B0CA;
  margin: 0;
  justify-content: center;
  font-size: 1.4em;
  font-weight: 500;
  font-family: 'Avenir';
}

.location-continue {
  display: flex;
  align-self: center;
  background-color: #7FD524;
  font-size: 7vw;
  width: 100%;
  height: 2em;
  margin-top: 11vh;
}
