page-home {
  font-family: 'Avenir';
  background-color: #FFF;
  height: 100vh;
}

.slogan {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-height: 18vh;
}

.slogan img {
  height: 18vh;
}

.plus1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 3.5em;
  margin-bottom: 1.3em;
}

.plus1 img {
  height: 180px;
}

.slide-text {
  display: flex;
  justify-content: center;
  margin: 10px 10px 0 10px;
  text-align: center;
  font-size: 3em;
  color: #00B0CA;
}

.slide-text span {
  font-weight: 600;
}

.free-drinks {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.free-drinks img {
  height: 250px;
}

.get-started-container {
  padding-left: 10px;
  padding-right: 10px;
}

.get-started-text {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
  text-align: center;
  color: #00B0CA;
}

.get-started-text p {
  font-size: 7vw;
  margin-top: 3vh;
}

.get-started-text h2 {
  font-size: 9vw;
}

.get-started-icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.get-started-btn {
  background-color: #7FD524;
  font-size: 7vw;
  margin-top: 5vh;
  width: 100%;
  height: 2em;
}
