page-home {
  font-family: 'Avenir-Heavy';
  background-color: #FFF;
  height: 100vh;
}

.slogan {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-height: 18vh;
}

.slogan img {
  width: 72%;
  height: 14vh;
}

.slide-1-icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 7vh;
}

.slide-text {
  display: flex;
  justify-content: center;
  margin: 10px 10px 0;
  text-align: center;
  font-size: 7vw;
  color: #00B0CA;
}

.slide-text h2 {
  font-size: 9vw;
}

.slide-text span {
  font-weight: 600;
}

.upgrade .disclaimer {
  margin-top: 10.5vh;
}

.slide-2-icon {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  flex-direction: row;
}

.get-started-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}

.get-started-text {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 3vh;
  text-align: center;
  color: #00B0CA;
}

.get-started-text p {
  font-size: 7vw;
  margin-top: 3vh;
}

.get-started-text h2 {
  font-size: 9vw;
}

.get-started-icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2vh;
}


.get-started-btn {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.disclaimer {
  display: flex;
  font-family: 'Avenir';
  justify-content: center;
  font-size: 4vw;
  margin-top: 5vh;
  color: #E2E2E2;
}
